In [59]:
import pandas as pd
import numpy as np
data=pd.read_csv('tips.csv')
data.columns=['總票價', '小費', '是否吸菸', '日期', '時間', '人數']
data=data[['日期', '時間', '是否吸菸', '人數', '總票價', '小費']]
data['小費比例']=data['小費']/data['總票價']
data.sort_values(by='小費比例', ascending=False).iloc[:10]

       日期      時間 是否吸菸  人數    總票價    小費      小費比例
172   Sun  Dinner  Yes   2   7.25  5.15  0.710345
178   Sun  Dinner  Yes   2   9.60  4.00  0.416667
67    Sat  Dinner  Yes   1   3.07  1.00  0.325733
232   Sat  Dinner   No   2  11.61  3.39  0.291990
183   Sun  Dinner  Yes   4  23.17  6.50  0.280535
109   Sat  Dinner  Yes   2  14.31  4.00  0.279525
149  Thur   Lunch   No   2   7.51  2.00  0.266312
93    Fri  Dinner  Yes   2  16.32  4.30  0.263480
221   Fri   Lunch  Yes   2  13.42  3.48  0.259314
51    Sun  Dinner   No   2  10.29  2.60  0.252672

In [12]:
group=data.groupby('日期')
group[['小費']].mean()

            小費
日期
Fri   2.734737
Sat   2.993103
Sun   3.255132
Thur  2.771452

In [15]:
group1=data.groupby(['日期', '是否吸菸'])
s1=group1[['小費']].mean()
df1=s1.unstack()
df1
df2=s1.unstack(level='日期')
df2

          小費
日期       Fri       Sat       Sun      Thur
是否吸菸
No    2.8125  3.102889  3.167895  2.673778
Yes   2.7140  2.875476  3.516842  3.030000

In [31]:
group2=data.groupby([ '日期','是否吸菸'])
s2=group2[['小費']].agg(['mean','sum','count'])
s3=s2.unstack(level='日期')
#讓小費和日期交換位子
s3.swaplevel(axis=1)
s4=group2[['小費','總票價']].agg([('平均', 'mean'),('總計', 'sum'),('筆數','count')])
s4

                 小費                    總票價
                 平均      總計  筆數         平均       總計  筆數
日期   是否吸菸
Fri  No    2.812500   11.25   4  18.420000    73.68   4
     Yes   2.714000   40.71  15  16.813333   252.20  15
Sat  No    3.102889  139.63  45  19.661778   884.78  45
     Yes   2.875476  120.77  42  21.276667   893.62  42
Sun  No    3.167895  180.57  57  20.506667  1168.88  57
     Yes   3.516842   66.82  19  24.120000   458.28  19
Thur No    2.673778  120.32  45  17.113111   770.09  45
     Yes   3.030000   51.51  17  19.190588   326.24  17

In [34]:
def my_range(group):
    return group.max() - group.min()

grouped3 = data.groupby(['日期', '是否吸菸'])
print(len(grouped3))
df5=grouped3[['小費']].agg([('平均', 'mean'),('最大值和最小值差', my_range)])
df5['小費']['平均']
df5.loc['Sun']

8

            小費
            平均 最大值和最小值差
是否吸菸
No    3.167895     4.99
Yes   3.516842     5.00

In [39]:
from tools import all_data_concat
import pandas as pd 

all_data = all_data_concat()
# 欄位`乘車日期`是數字格式,要轉成日期格式
all_data['乘車日期'] = pd.to_datetime(all_data['乘車日期'], format='%Y%m%d')

# 取出日期的年份,建立一個新的欄位`年份`
all_data['年份'] = all_data['乘車日期'].dt.year

# 取出期期的月份,建立一個新的欄位`月份`
all_data['月份'] = all_data['乘車日期'].dt.month

all_data.head()

        乘車日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址    年份  月份
0 2019-04-23   900  8442  7743   基隆            基隆市仁愛區港西街5號  2019   4
1 2019-04-23   910  1394  1348   三坑     基隆市仁愛區德厚里龍安街 206 號  2019   4
2 2019-04-23   920  2770  2423   八堵     基隆市暖暖區八南里八堵路 142 號  2019   4
3 2019-04-23   930  6113  6335   七堵       基隆市七堵區長興里東新街 2 號  2019   4
4 2019-04-23   940  2680  2726   百福  基隆市七堵區堵南里明德三路 1 之 1 號  2019   4

In [58]:
DF1=all_data.groupby(['車站名稱','年份', '月份'])[['進站人數','出站人數']].agg([('平均', 'mean'),('總計', 'sum'),('筆數','count')])
DF1
#取得DF1中七堵的2020 和2021的資料後再作合併
DF2=DF1.loc['七堵',2020]
DF3=DF1.loc['七堵',2021]
DF2.merge(DF3, left_index=True, right_index=True, suffixes=('_2020', '_2021'))

      進站人數_2020                出站人數_2020                進站人數_2021              \
             平均      總計  筆數           平均      總計  筆數           平均      總計  筆數
月份
1   5557.870968  172294  31  5769.580645  178857  31  5374.483871  166609  31
2   4933.965517  143085  29  5049.275862  146429  29  5100.464286  142813  28
3   5263.677419  163174  31  5354.935484  166003  31  5907.322581  183127  31
4   4854.766667  145643  30  4928.666667  147860  30  5884.433333  176533  30
5   5266.774194  163270  31  5339.709677  165531  31  3641.516129  112887  31
6   5561.266667  166838  30  5628.166667  168845  30  1724.566667   51737  30
7   5690.967742  176420  31  5754.516129  178390  31  2149.483871   66634  31
8   5402.161290  167467  31  5519.709677  171111  31  3308.870968  102575  31
9   5937.266667  178118  30  6038.033333  181141  30  4386.766667  131603  30
10  5878.225806  182225  31  5945.677419  184316  31  4882.516129  151358  31
11  5978.300000  179349  30  6027.833333  180835  30  5419.266667  162578  30
12  5986.838710  185592  31  6004.000000  186124  31  5509.000000  170779  31

      出站人數_2021
             平均      總計  筆數
月份
1   5405.580645  167573  31
2   5147.785714  144138  28
3   5916.741935  183419  31
4   5913.933333  177418  30
5   3674.741935  113917  31
6   1723.166667   51695  30
7   2191.645161   67941  31
8   3376.322581  104666  31
9   4364.966667  130949  30
10  4879.129032  151253  31
11  5410.233333  162307  30
12  4482.064516  138944  31

In [67]:
def top(df,n=5, column='小費比例'):
    return df.sort_values(by=column, ascending=False).iloc[:n]
top(data,60)
data.groupby('是否吸菸').apply(top,n=10,include_groups=False)

            日期      時間  人數    總票價    小費      小費比例
是否吸菸
No   232   Sat  Dinner   2  11.61  3.39  0.291990
     149  Thur   Lunch   2   7.51  2.00  0.266312
     51    Sun  Dinner   2  10.29  2.60  0.252672
     185   Sun  Dinner   5  20.69  5.00  0.241663
     88   Thur   Lunch   2  24.71  5.85  0.236746
     6     Sun  Dinner   2   8.77  2.00  0.228050
     17    Sun  Dinner   3  16.29  3.71  0.227747
     20    Sat  Dinner   2  17.92  4.08  0.227679
     46    Sun  Dinner   2  22.23  5.00  0.224921
     42    Sun  Dinner   2  13.94  3.06  0.219512
Yes  172   Sun  Dinner   2   7.25  5.15  0.710345
     178   Sun  Dinner   2   9.60  4.00  0.416667
     67    Sat  Dinner   1   3.07  1.00  0.325733
     183   Sun  Dinner   4  23.17  6.50  0.280535
     109   Sat  Dinner   2  14.31  4.00  0.279525
     93    Fri  Dinner   2  16.32  4.30  0.263480
     221   Fri   Lunch   2  13.42  3.48  0.259314
     181   Sun  Dinner   2  23.33  5.65  0.242177
     194  Thur   Lunch   2  16.58  4.00  0.241255
     174   Sun  Dinner   2  16.82  4.00  0.237812

In [70]:
def top1(df,n=3, column='進站人數'):
    return df.sort_values(by=column, ascending=False).iloc[:n]
gp=all_data.groupby(['車站名稱','年份','月份'])[['進站人數','出站人數']]
gp.apply(top1)

                     進站人數  出站人數
車站名稱 年份   月份
七堵   2019 4  717     6635  7042
             1669    6281  6454
             1431    6221  6219
          5  5710    7075  7568
             7379    6984  7376
...                   ...   ...
龜山   2023 11 398912   107    83
             396776   106   100
          12 401283   255   287
             406502   226   146
             406740   214   159

[40843 rows x 2 columns]