In [22]:
import os
#取得目前工作目錄
def get_data_file_path(filename:str)->str:
    current_directory = os.getcwd()
    file_path=os.path.join(current_directory, 'data', filename)
    return file_path

In [28]:
import pandas as pd
data=pd.read_csv(get_data_file_path('每日各站進出站人數2020.csv'))
data1=data.rename(columns={'trnOpDate':'日期','staCode':'車站代碼','gateInComingCnt':'進站人數','gateOutGoingCnt':'出站人數'})
data1.head()

         日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

In [29]:
station_path = get_data_file_path("台鐵車站資訊.csv")
station_data = pd.read_csv(station_path)
station_data
station_data1 = station_data[['stationCode','stationName','stationAddrTw']]
station_data2 = station_data1.rename(columns={"stationCode":"車站代碼",
                                          "stationName":"車站名稱",
                                          "stationAddrTw":"車站地址"})
station_data2.head()
station_data2.shape

(243, 3)

In [30]:
# data1內的'車站代碼'與station_data2內的'車站代碼'進行合併
merged_data = pd.merge(data1, station_data2, on='車站代碼', how='left')
merged_data.head()

         日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址
0  20200101   900  7552  8154   基隆            基隆市仁愛區港西街5號
1  20200101   910  1020  1135   三坑     基隆市仁愛區德厚里龍安街 206 號
2  20200101   920  1623  1972   八堵     基隆市暖暖區八南里八堵路 142 號
3  20200101   930  4130  4813   七堵       基隆市七堵區長興里東新街 2 號
4  20200101   940  1818  2128   百福  基隆市七堵區堵南里明德三路 1 之 1 號

In [31]:
current_directory = os.getcwd()
data_directory=os.path.join(current_directory, 'data',)
file_list=[]
for f in os.listdir(data_directory):
    if os.path.isfile(os.path.join(data_directory, f)):
        file_list.append(f)
file_list

['manifest.csv',
 'schema.csv',
 '台鐵車站資訊.csv',
 '每日各站進出站人數20190423-20191231.csv',
 '每日各站進出站人數2020.csv',
 '每日各站進出站人數2021.csv',
 '每日各站進出站人數2022.csv',
 '每日各站進出站人數2023.csv']