In [1]:
import pandas as pd
df1 = pd.read_csv('上市公司資料.csv')
df2 = df1[['出表日期','資料年月','公司代號','公司名稱','產業別']]
df2

        出表日期   資料年月  公司代號 公司名稱   產業別
0    1110912  11108  1102   亞泥  水泥工業
1    1110912  11108  1108   幸福  水泥工業
2    1110912  11108  1109   信大  水泥工業
3    1110912  11108  1110   東泥  水泥工業
4    1110912  11108  1213   大飲  食品工業
..       ...    ...   ...  ...   ...
834  1110912  11108  9942   茂順    其他
835  1110912  11108  9943  好樂迪  觀光事業
836  1110912  11108  9944   新麗    其他
837  1110912  11108  9955   佳龍    其他
838  1110912  11108  9958  世紀鋼  鋼鐵工業

[839 rows x 5 columns]

In [2]:
import numpy as np

frame = pd.DataFrame(
                    data=np.arange(9).reshape((3,3)),
                    index = ['a','c','d'],
                    columns = ['台北','台中','高雄']
                    )
frame

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [6]:
frame.reindex(columns=['高雄','台北'],index=['c','a'])

   高雄  台北
c   5   3
a   2   0

In [38]:
import pandas as pd
df=pd.read_csv('各鄉鎮市區人口密度.csv')
df.columns=df.iloc[0].tolist()
df=df.drop(index=0).reset_index(drop=True)
#把最後幾行補充刪除
df= df.drop(index=df.index[-5:])
#年底人口數 和人口密度最底下有...想把它換成0
df['年底人口數']=df['年底人口數'].replace('… ', '0').astype(int)
df['人口密度']=df['人口密度'].replace('… ', '0').astype(int)
df['土地面積']=df['土地面積'].astype(float)
df

     統計年     區域別   年底人口數     土地面積   人口密度
0    106  新北市板橋區  551480  23.1373  23835
1    106  新北市三重區  387484  16.3170  23747
2    106  新北市中和區  413590  20.1440  20532
3    106  新北市永和區  222585   5.7138  38956
4    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
365  106  連江縣北竿鄉    2360   9.9000    238
366  106  連江縣莒光鄉    1624   4.7000    346
367  106  連江縣東引鄉    1352   3.8000    356
368  106    東沙群島       0   2.3800      0
369  106    南沙群島       0   0.5045      0

[370 rows x 5 columns]

In [40]:
import sys, subprocess
import importlib

# 如何將df2存成新的csv檔案
df.to_csv('各鄉鎮市區人口密度_清理後.csv', index=False)
# 如何將df2存成新的excel檔案
df.to_excel('各鄉鎮市區人口密度_清理後.xlsx', index=False)
# 確保 openpyxl 已安裝（若未安裝則透過 pip 安裝）
try:
    import openpyxl  # type: ignore
except ModuleNotFoundError:
    print("openpyxl not found. Installing...")

In [42]:
import pandas as pd
wd=pd.read_csv('world.csv')
wd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [ ]:
import pandas as pd

# 建立一個 Series（產品銷售額）
sales = pd.Series([300, 600, 450, 800, 200, 700], 
                  index=['A', 'B', 'C', 'D', 'E', 'F'])
# 建立布林遮罩：銷售額 > 500
mask = sales > 500
print("布林遮罩：")
print(mask)
# 輸出：
# A    False
# B     True
# C    False
# D     True
# E    False
# F     True
# dtype: bool

# 使用遮罩篩選高銷售產品
high_sales = sales[mask]
print("\n銷售額 > 500 的產品：")
print(high_sales)

布林遮罩：
A    False
B     True
C    False
D     True
E    False
F     True
dtype: bool

銷售額 > 500 的產品：
B    600
D    800
F    700
dtype: int64

In [48]:
alldataframe=wd.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
mask=alldataframe['洲名']=='亞洲'
asia=alldataframe[mask]
asia

        洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24      5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25      5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26      5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27      5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28      5      0  39835428  99999.0
...     ..  ...         ...    ...    ...       ...      ...
186200  亞洲   葉門  2022-07-02  11824      0  30490639  99999.0
186201  亞洲   葉門  2022-07-03  11824      0  30490639  99999.0
186202  亞洲   葉門  2022-07-04  11832      8  30490639  99999.0
186203  亞洲   葉門  2022-07-05  11832      0  30490639  99999.0
186204  亞洲   葉門  2022-07-06  11832      0  30490639  99999.0

[43071 rows x 7 columns]

In [49]:
#選取台灣資料同時選取日本
mask=(alldataframe['國家']=='台灣') | (alldataframe['國家']=='日本')
twjp=alldataframe[mask]
twjp

        洲名  國家          日期     總確診數  新增確診數       總人口數      解封指數
85626   亞洲  日本  2020-01-22        2      0  126050796  99999.00
85627   亞洲  日本  2020-01-23        2      0  126050796  99999.00
85628   亞洲  日本  2020-01-24        2      0  126050796  99999.00
85629   亞洲  日本  2020-01-25        2      0  126050796  99999.00
85630   亞洲  日本  2020-01-26        4      2  126050796  99999.00
...     ..  ..         ...      ...    ...        ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561   23855008    266.71

[1800 rows x 7 columns]

In [50]:
maskcase=(twjp['新增確診數']>20000)
highcase=twjp[maskcase]
highcase

        洲名  國家          日期     總確診數  新增確診數       總人口數      解封指數
86195   亞洲  日本  2021-08-13  1111683  20496  126050796  99999.00
86196   亞洲  日本  2021-08-14  1131986  20303  126050796  99999.00
86199   亞洲  日本  2021-08-17  1184986  20105  126050796  99999.00
86200   亞洲  日本  2021-08-18  1209082  24096  126050796  99999.00
86201   亞洲  日本  2021-08-19  1234423  25341  126050796  99999.00
...     ..  ..         ...      ...    ...        ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561   23855008    266.71

[220 rows x 7 columns]