In [1]:
# groupby
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.150318  0.948500
1    a  two -1.971772  0.957926
2    b  one  1.125203 -0.550765
3    b  two -0.196449  0.018414
4    a  one -1.361642 -0.789219

In [1]:

df.groupby('key1')["data1"].mean()
df.groupby('key1')[["data1","data2"]].mean()
df1=df.groupby(['key1','key2']).mean()

NameError: name 'df' is not defined

In [5]:
df2 = df1.stack() # 變成長的資料
df2.index.names = ['key1','key2','data']
df2

key1  key2  data
a     one   data1   -0.105662
            data2    0.079641
      two   data1   -1.971772
            data2    0.957926
b     one   data1    1.125203
            data2   -0.550765
      two   data1   -0.196449
            data2    0.018414
dtype: float64

In [6]:
df2.unstack(level=["data",'key1']) # 變回寬的資料

data     data1     data2     data1     data2
key1         a         a         b         b
key2
one  -0.105662  0.079641  1.125203 -0.550765
two  -1.971772  0.957926 -0.196449  0.018414