In [4]:
import os
#取得目前工作目錄
def get_data_file_path(filename:str)->str:
    current_directory = os.getcwd()
    file_path=os.path.join(current_directory, 'data', filename)
    return file_path

In [28]:
import pandas as pd
data=pd.read_csv(get_data_file_path('每日各站進出站人數2020.csv'))
data1=data.rename(columns={'trnOpDate':'日期','staCode':'車站代碼','gateInComingCnt':'進站人數','gateOutGoingCnt':'出站人數'})
data1.head()

         日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

In [29]:
station_path = get_data_file_path("台鐵車站資訊.csv")
station_data = pd.read_csv(station_path)
station_data
station_data1 = station_data[['stationCode','stationName','stationAddrTw']]
station_data2 = station_data1.rename(columns={"stationCode":"車站代碼",
                                          "stationName":"車站名稱",
                                          "stationAddrTw":"車站地址"})
station_data2.head()
station_data2.shape

(243, 3)

In [30]:
# data1內的'車站代碼'與station_data2內的'車站代碼'進行合併
merged_data = pd.merge(data1, station_data2, on='車站代碼', how='left')
merged_data.head()

         日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址
0  20200101   900  7552  8154   基隆            基隆市仁愛區港西街5號
1  20200101   910  1020  1135   三坑     基隆市仁愛區德厚里龍安街 206 號
2  20200101   920  1623  1972   八堵     基隆市暖暖區八南里八堵路 142 號
3  20200101   930  4130  4813   七堵       基隆市七堵區長興里東新街 2 號
4  20200101   940  1818  2128   百福  基隆市七堵區堵南里明德三路 1 之 1 號

In [15]:
def ger_folder_file_list()->list:
    current_directory = os.getcwd()
    data_directory=os.path.join(current_directory, 'data',)
    file_list=[]
    for f in os.listdir(data_directory):
        if os.path.isfile(os.path.join(data_directory, f)) and '每日各站進出站人數' in f:
            file_list.append(f)
    return file_list
file_list=ger_folder_file_list()
os.getcwd()

'c:\\Program Files (x86)\\github\\aiclass\\lesson19'

In [7]:
import pandas as pd
from pandas import DataFrame
def marge_two_table(file1:str)->DataFrame:
    data=pd.read_csv(get_data_file_path(file1))
    data1=data.rename(columns={'trnOpDate':'日期','staCode':'車站代碼','gateInComingCnt':'進站人數','gateOutGoingCnt':'出站人數'})
    station_path = get_data_file_path("台鐵車站資訊.csv")
    station_data = pd.read_csv(station_path)
    station_data1 = station_data[['stationCode','stationName','stationAddrTw']]
    station_data2 = station_data1.rename(columns={"stationCode":"車站代碼",
                                            "stationName":"車站名稱",
                                            "stationAddrTw":"車站地址"})
    merged_data=pd.merge(data1, station_data2, on='車站代碼', how='left')
    return merged_data
marge_two_table('每日各站進出站人數2020.csv')

,日期,車站代碼,進站人數,出站人數,車站名稱,車站地址
0,20200101,900,7552,8154,基隆,基隆市仁愛區港西街5號
1,20200101,910,1020,1135,三坑,基隆市仁愛區德厚里龍安街 206 號
2,20200101,920,1623,1972,八堵,基隆市暖暖區八南里八堵路 142 號
3,20200101,930,4130,4813,七堵,基隆市七堵區長興里東新街 2 號
4,20200101,940,1818,2128,百福,基隆市七堵區堵南里明德三路 1 之 1 號
...,...,...,...,...,...,...
86927,20201231,7360,3523,3602,瑞芳,新北市瑞芳區龍潭里明燈路三段 82 號
86928,20201231,7361,3,18,海科館,基隆市中正區長潭里
86929,20201231,7362,28,34,八斗子,新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房)
86930,20201231,7380,609,604,四腳亭,新北市瑞芳區吉慶里中央路 65 號
86931,20201231,7390,377,444,暖暖,基隆市暖暖區暖暖里暖暖街 51 號

In [25]:
import os
import pandas as pd
from pandas import DataFrame

def get_data_file_path(filename: str) -> str:
    """輸入檔案名稱,傳出目前檔案的絕對工作路徑"""
    # 取得目前工作目錄
    current_directory = os.getcwd()
    # 取得該目錄下的`data`資料夾內的`每日各站進出站人數2020.csv`檔案路徑
    file_path = os.path.join(current_directory, "data", filename)
    return file_path

def merge_station_passenger_data(filename: str) -> DataFrame:
    """
    合併每日乘客資料與車站資訊。
    
    此函數讀取每日乘客資料的 CSV 檔案，重新命名欄位為中文，
    並根據車站代碼與車站資訊（代碼、名稱、地址）進行合併。
    
    Args:
        filename (str): 每日乘客資料 CSV 檔案的檔案名稱
        
    Returns:
        DataFrame: 包含乘客資料與車站資訊的合併資料表
    """
    # 讀取每日乘客資料檔案
    file_path = get_data_file_path(filename)
    passenger_data = pd.read_csv(file_path)
    
    # 重新命名欄位為中文以保持一致性
    passenger_data_renamed = passenger_data.rename(columns={
        "trnOpDate": "乘車日期",
        "staCode": "車站代碼",
        "gateInComingCnt": "進站人數",
        "gateOutGoingCnt": "出站人數"
    })
    
    # 讀取車站資訊資料
    station_path = get_data_file_path("台鐵車站資訊.csv")
    station_data = pd.read_csv(station_path)
    
    # 從車站資料中選取需要的欄位
    station_data_filtered = station_data[['stationCode', 'stationName', 'stationAddrTw']]
    
    # 重新命名車站資料欄位為中文
    station_data_renamed = station_data_filtered.rename(columns={
        "stationCode": "車站代碼",
        "stationName": "車站名稱",
        "stationAddrTw": "車站地址"
    })
    
    # 根據車站代碼合併乘客資料與車站資訊
    merged_data = pd.merge(passenger_data_renamed, station_data_renamed, on='車站代碼', how='left')
    
    return merged_data

def get_datafolder_files() -> list[str]:
    current_directory = os.getcwd()
    # 取得該目錄下的`data`資料夾的路徑
    data_directory = os.path.join(current_directory, "data")

    # 列出data資料夾內的所有檔案,只要檔案
    # 不要使用list的comprehension寫法
    file_list = []
    for f in os.listdir(data_directory):
        if os.path.isfile(os.path.join(data_directory, f)) and "每日各站進出站人數" in f:
            file_list.append(f)
    return file_list

def all_data_concat() ->DataFrame:
    # 取得所有每年乘客資料檔案名稱
    data_list:list[str] = get_datafolder_files()
    all_years_data = []
    for year_file in data_list:
        year_DataFrame = merge_station_passenger_data(year_file)
        all_years_data.append(year_DataFrame)

    final_dataFrame = pd.concat(all_years_data, ignore_index=True)
    final_dataFrame.sort_values(by=["乘車日期"],inplace=True)
    return final_dataFrame
final_dataFrame= all_data_concat()
print(final_dataFrame)

            乘車日期  車站代碼  進站人數  出站人數 車站名稱  \
0       20190423   900  8442  7743   基隆
1       20190423   910  1394  1348   三坑
2       20190423   920  2770  2423   八堵
3       20190423   930  6113  6335   七堵
4       20190423   940  2680  2726   百福
...          ...   ...   ...   ...  ...
406756  20231231  7360  7916  8252   瑞芳
406757  20231231  7361   164   195  海科館
406758  20231231  7362   652   720  八斗子
406759  20231231  7380  1526   656  四腳亭
406760  20231231  7390   576   447   暖暖

                                                 車站地址
0                                         基隆市仁愛區港西街5號
1                                  基隆市仁愛區德厚里龍安街 206 號
2                                  基隆市暖暖區八南里八堵路 142 號
3                                    基隆市七堵區長興里東新街 2 號
4                               基隆市七堵區堵南里明德三路 1 之 1 號
...                                               ...
406756                            新北市瑞芳區龍潭里明燈路三段 82 號
406757                                      基隆市中正區長潭里
406758  新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房)
406759                              新北市瑞芳區吉慶里中央路 65 號
406760                              基隆市暖暖區暖暖里暖暖街 51 號

[406761 rows x 6 columns]

In [ ]:
import os
import pandas as pd
from pandas import DataFrame
def get_folder_file_list()->list:
    current_directory = os.getcwd()
    data_directory=os.path.join(current_directory, 'data',)
    file_list=[]
    for f in os.listdir(data_directory):
        if os.path.isfile(os.path.join(data_directory, f)) and '每日各站進出站人數' in f:
            file_list.append(f)
    return file_list

def get_data_file_path(filename:str)->str:
    current_directory = os.getcwd()
    file_path=os.path.join(current_directory, 'data', filename)
    return file_path

def marge_two_table(file:str)->DataFrame:
    data=pd.read_csv(get_data_file_path(file))
    data1=data.rename(columns={'trnOpDate':'日期','staCode':'車站代碼','gateInComingCnt':'進站人數','gateOutGoingCnt':'出站人數'})
    station_path = get_data_file_path("台鐵車站資訊.csv")
    station_data = pd.read_csv(station_path)
    station_data1 = station_data[['stationCode','stationName','stationAddrTw']]
    station_data2 = station_data1.rename(columns={"stationCode":"車站代碼",
                                            "stationName":"車站名稱",
                                            "stationAddrTw":"車站地址"})
    merged_data=pd.merge(data1, station_data2, on='車站代碼', how='left')
    return merged_data

In [10]:
import main as tools

final_dataFrame = tools.all_data_concat()
import pandas as pd

final_dataFrame['乘車日期'] = pd.to_datetime(final_dataFrame['乘車日期'], format='%Y%m%d')
final_dataFrame

,乘車日期,車站代碼,進站人數,出站人數,車站名稱,車站地址
0,2019-04-23,900,8442,7743,基隆,基隆市仁愛區港西街5號
1,2019-04-23,910,1394,1348,三坑,基隆市仁愛區德厚里龍安街 206 號
2,2019-04-23,920,2770,2423,八堵,基隆市暖暖區八南里八堵路 142 號
3,2019-04-23,930,6113,6335,七堵,基隆市七堵區長興里東新街 2 號
4,2019-04-23,940,2680,2726,百福,基隆市七堵區堵南里明德三路 1 之 1 號
...,...,...,...,...,...,...
406756,2023-12-31,7360,7916,8252,瑞芳,新北市瑞芳區龍潭里明燈路三段 82 號
406757,2023-12-31,7361,164,195,海科館,基隆市中正區長潭里
406758,2023-12-31,7362,652,720,八斗子,新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房)
406759,2023-12-31,7380,1526,656,四腳亭,新北市瑞芳區吉慶里中央路 65 號
406760,2023-12-31,7390,576,447,暖暖,基隆市暖暖區暖暖里暖暖街 51 號

In [9]:
final_dataFrame.groupby('車站名稱')[['進站人數','出站人數']].sum()

         進站人數     出站人數
車站名稱
七堵    9044563  9115329
三坑    2080517  2140894
三塊厝    786111   824381
三姓橋   1760760  1594509
三民      12535    18652
...       ...      ...
鼓山     469414   476151
龍井     596686   589722
龍泉      24965    30795
龍港      30146    38335
龜山     141198   134504

[241 rows x 2 columns]

In [15]:
final_dataFrame['year'] = final_dataFrame['乘車日期'].dt.year
df1=final_dataFrame.groupby(['year','車站名稱'])[['進站人數','出站人數']].sum()
df2=df1.unstack(level='year')
df2

           進站人數                                                   出站人數  \
year       2019       2020       2021       2022       2023       2019
車站名稱
七堵    1512951.0  2023475.0  1619233.0  1764417.0  2124487.0  1560506.0
三坑     342775.0   457042.0   372260.0   411286.0   497154.0   347841.0
三塊厝    105842.0   147363.0   149138.0   173337.0   210431.0   111863.0
三姓橋    288098.0   386310.0   307925.0   345589.0   432838.0   260777.0
三民       2435.0     2748.0     2236.0     1985.0     3131.0     2994.0
...         ...        ...        ...        ...        ...        ...
鼓山      50962.0    72794.0    73043.0   107560.0   165055.0    52786.0
龍井     100128.0   129583.0   106212.0   105324.0   155439.0    97880.0
龍泉       4115.0     5827.0     4542.0     4218.0     6263.0     4960.0
龍港       4413.0     5581.0     5394.0     6096.0     8662.0     5417.0
龜山      26408.0    33665.0    23193.0    27966.0    29966.0    25265.0


year       2020       2021       2022       2023
車站名稱
七堵    2055442.0  1594220.0  1776557.0  2128604.0
三坑     466250.0   383427.0   422225.0   521151.0
三塊厝    160297.0   155794.0   178429.0   217998.0
三姓橋    345666.0   276783.0   312076.0   399207.0
三民       4164.0     3699.0     3535.0     4260.0
...         ...        ...        ...        ...
鼓山      75636.0    72945.0   106773.0   168011.0
龍井     126229.0   103974.0   104254.0   157385.0
龍泉       6710.0     4841.0     6038.0     8246.0
龍港       7490.0     7578.0     8217.0     9633.0
龜山      32326.0    22534.0    24766.0    29613.0

[241 rows x 10 columns]